@model IEnumerable<CMS.Models.Appoitment>

@{
    ViewBag.Title = "Index";
}

<h2>Appointment Records</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointID })
        </td>
    </tr>
}

</table>
