@model IEnumerable<CMS.Models.Appoitment>

@{
    ViewBag.Title = "Index";
}

<h2>Appointment Records</h2>

<table class="table">
    <tr>
        <th>Patient Name</th>
        <th>Patient Age</th>
        <th>Patient Gender</th>
        <th>Doctor Name</th>
        <th>Date</th>
        <th>BillAmount</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointID })
        </td>
    </tr>
}

</table>
